@use 'variables' as *;

.projectListContainer {
  display: grid;
  row-gap: 64px;
  column-gap: 18px;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: center;
  max-width: 1200px;
  margin: 0 40px;

  &__controls {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    height: 40px;

    & > * {
      display: none;
      padding: 10px 20px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      width: 200px;

      &:hover,
      &:active {
        color: $primaryGreen;
      }
    }

    &__listButton {
      background-color: $black;
      color: white;
    }

    &__gridButton {
      background-color: white;
      color: $black;
      border: 1px solid $black;
    }

    @media (min-width: $projectCardContentBreakpoint) {
      &>button {
        display: block;
      }
    }
  }

  // Mobile-first; Small displays get Grid and no controls,
  // Large displays get controls between Horizontal and Grid
  @media (min-width: $projectCardContentBreakpoint) {
    grid-template-columns: repeat(2, 300px);
    margin: 0 auto;
  }

  @media (min-width: 1060px) {
    grid-template-columns: repeat(auto-fill, 315px);
  }

  &--isList {
    row-gap: 0;

    @media (min-width: $projectCardContentBreakpoint) {
      min-width: 686px;
      max-width: 986px;
    }
  }
}